# Functions

#### Warm up

In [32]:
bands1 = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']

fixed_bands1 = [band.strip(' .,').title() for band in bands1]
print(fixed_bands1)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [33]:
# Output: ['The Beatles', 'The Rolling Stones', etc]

In [34]:
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

fixed_bands2 = [band.strip(' .,').title() for band in bands2]

print(fixed_bands2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

## Functions

In [ ]:
# DRY principle
# DONT
# REPEAT
# YOURSELF

##### User-Defined vs. Built-In Function

In [36]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [37]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE WHEN CALLED>

# Creating a function
def say_hello():
    print('Hello World!')

In [39]:
print(say_hello)
say_hello

<function say_hello at 0x000001FE667939A0>

In [40]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [43]:
# Executing a function
# Syntax: function_name()

say_hello() # Executing the function - don't forget the ()!

Hello World!

##### Accepting Parameters

In [57]:
# Syntax: def function_name(param1, param2):
#             <CODE TO EXECUTE with variable param1 and param2>
def say_hello_again(first, last): # <- first and last are parameters (aka placeholders)
    print(f"Hello {first} {last}! How are you doing today?")

    
# Execute
# Syntax: function_name(data1, data2)
say_hello_again("Brian", "Stanton")

Hello Brian Stanton! How are you doing today?

In [58]:
say_hello_again('Kevin', 'Beier')

Hello Kevin Beier! How are you doing today?

In [59]:
say_hello_again("Stanton", "Brian") # Position Matters!

Hello Stanton Brian! How are you doing today?

##### Passing in variables as arguments

In [60]:
city1 = 'Boston'
state1 = 'MA'
zip_code1 = '02044'

city2 = 'New York'
state2 = 'NY'
zip_code2 = '12345'

In [61]:
# Function to format an address -> City, State -- Zip Code
def format_address(city_name, state_code, zip_code):
    print(f"{city_name}, {state_code} -- {zip_code}")

In [62]:
format_address('Chicago', 'IL', '60606')
format_address(city1, state1, zip_code1)

Chicago, IL -- 60606
Boston, MA -- 02044

##### Keyword Arguments

In [65]:
def make_a_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f"You have a made a payment of ${amount_paid} to Account #{account_number}")
    print(f"Your new balance due is ${new_total}")
    print("Thank you for your payment")

In [66]:
make_a_payment(1000, 100, '349834793')

You have a made a payment of $100 to Account #349834793
Your new balance due is $900
Thank you for your payment

In [69]:
# function_name(param_name=arg_value, etc.)

make_a_payment(account_number='2343253', amount_paid=300, total_amount_due=3000)

You have a made a payment of $300 to Account #2343253
Your new balance due is $2700
Thank you for your payment

In [70]:
make_a_payment(5000, account_number='3234549', amount_paid=500)

You have a made a payment of $500 to Account #3234549
Your new balance due is $4500
Thank you for your payment

In [72]:
# positional arguments MUST COME BEFORE any keyword arguments

# make_a_payment(account_number='334435436', 500, 50) # SyntaxError!

##### Default Parameters

In [75]:
# default parameter need to be AFTER non-default at all times

def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions=None, bacon=None):
    total_price = 4.50
    receipt = f"Thank you {customer_name}. Here is your receipt:\n"
    receipt += "1 Hamburger\n"
    if cheese:
        receipt += '\twith cheese\n'
    if lettuce:
        receipt += '\twith lettuce\n'
    if tomato:
        receipt += '\twith tomato\n'
    if onions:
        receipt += f'\twith {onions} onions\n'
    if bacon:
        receipt += f'\twith {bacon} pieces of bacon\n'
        total_price += .75*bacon
    receipt += f"Total: ${total_price:.2f}"
    print(receipt)

In [77]:
make_a_burger('Brian')

Thank you Brian. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
Total: $4.50

In [78]:
make_a_burger('Dan', False)

Thank you Dan. Here is your receipt:
1 Hamburger
	with lettuce
	with tomato
Total: $4.50

In [79]:
make_a_burger('Holly', True, True, True, None, 2)

Thank you Holly. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with 2 pieces of bacon
Total: $6.00

In [90]:
make_a_burger('Kevin', bacon=5, onions='grilled')

Thank you Kevin. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with grilled onions
	with 5 pieces of bacon
Total: $8.25

##### \*args and **kwargs

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

##### Returning Values

In [ ]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

In [ ]:
# Return will also immediately terminate the function

#### Multiple returns in a function

##### Difference between `return` and `print`

#### Functions with Lists

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [ ]:
cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]

#### Docstrings