# Functions

#### Warm up

In [32]:
bands1 = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']

fixed_bands1 = [band.strip(' .,').title() for band in bands1]
print(fixed_bands1)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [33]:
# Output: ['The Beatles', 'The Rolling Stones', etc]

In [34]:
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

fixed_bands2 = [band.strip(' .,').title() for band in bands2]

print(fixed_bands2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

## Functions

In [ ]:
# DRY principle
# DONT
# REPEAT
# YOURSELF

##### User-Defined vs. Built-In Function

In [36]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [37]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE WHEN CALLED>

# Creating a function
def say_hello():
    print('Hello World!')

In [39]:
print(say_hello)
say_hello

<function say_hello at 0x000001FE667939A0>

In [40]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [43]:
# Executing a function
# Syntax: function_name()

say_hello() # Executing the function - don't forget the ()!

Hello World!

##### Accepting Parameters

In [57]:
# Syntax: def function_name(param1, param2):
#             <CODE TO EXECUTE with variable param1 and param2>
def say_hello_again(first, last): # <- first and last are parameters (aka placeholders)
    print(f"Hello {first} {last}! How are you doing today?")

    
# Execute
# Syntax: function_name(data1, data2)
say_hello_again("Brian", "Stanton")

Hello Brian Stanton! How are you doing today?

In [58]:
say_hello_again('Kevin', 'Beier')

Hello Kevin Beier! How are you doing today?

In [59]:
say_hello_again("Stanton", "Brian") # Position Matters!

Hello Stanton Brian! How are you doing today?

##### Passing in variables as arguments

In [60]:
city1 = 'Boston'
state1 = 'MA'
zip_code1 = '02044'

city2 = 'New York'
state2 = 'NY'
zip_code2 = '12345'

In [61]:
# Function to format an address -> City, State -- Zip Code
def format_address(city_name, state_code, zip_code):
    print(f"{city_name}, {state_code} -- {zip_code}")

In [62]:
format_address('Chicago', 'IL', '60606')
format_address(city1, state1, zip_code1)

Chicago, IL -- 60606
Boston, MA -- 02044

##### Keyword Arguments

In [65]:
def make_a_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f"You have a made a payment of ${amount_paid} to Account #{account_number}")
    print(f"Your new balance due is ${new_total}")
    print("Thank you for your payment")

In [66]:
make_a_payment(1000, 100, '349834793')

You have a made a payment of $100 to Account #349834793
Your new balance due is $900
Thank you for your payment

In [69]:
# function_name(param_name=arg_value, etc.)

make_a_payment(account_number='2343253', amount_paid=300, total_amount_due=3000)

You have a made a payment of $300 to Account #2343253
Your new balance due is $2700
Thank you for your payment

In [70]:
make_a_payment(5000, account_number='3234549', amount_paid=500)

You have a made a payment of $500 to Account #3234549
Your new balance due is $4500
Thank you for your payment

In [72]:
# positional arguments MUST COME BEFORE any keyword arguments

# make_a_payment(account_number='334435436', 500, 50) # SyntaxError!

##### Default Parameters

In [75]:
# default parameter need to be AFTER non-default at all times

def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions=None, bacon=None):
    total_price = 4.50
    receipt = f"Thank you {customer_name}. Here is your receipt:\n"
    receipt += "1 Hamburger\n"
    if cheese:
        receipt += '\twith cheese\n'
    if lettuce:
        receipt += '\twith lettuce\n'
    if tomato:
        receipt += '\twith tomato\n'
    if onions:
        receipt += f'\twith {onions} onions\n'
    if bacon:
        receipt += f'\twith {bacon} pieces of bacon\n'
        total_price += .75*bacon
    receipt += f"Total: ${total_price:.2f}"
    print(receipt)

In [77]:
make_a_burger('Brian')

Thank you Brian. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
Total: $4.50

In [78]:
make_a_burger('Dan', False)

Thank you Dan. Here is your receipt:
1 Hamburger
	with lettuce
	with tomato
Total: $4.50

In [79]:
make_a_burger('Holly', True, True, True, None, 2)

Thank you Holly. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with 2 pieces of bacon
Total: $6.00

In [90]:
make_a_burger('Kevin', bacon=5, onions='grilled')

Thank you Kevin. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with grilled onions
	with 5 pieces of bacon
Total: $8.25

##### \*args and **kwargs

In [91]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [99]:
say_hello_again('Brian', 'Stanton')

Hello Brian Stanton! How are you doing today?

In [118]:
def average(*nums):
    total = 0
    for num in nums:
        total += num
    return total / len(nums)

average(99, 90, 91, 92)

93.0

In [126]:
def my_function(arg1, *args, arg2=10):
    print('Arg1:', arg1)
    print('Args:', args)
    print('Arg2:', arg2)
    
my_function('a', 'b', 'c', 'd', 'e', arg2=20)

Args: ('a', 'b', 'c', 'd', 'e')
Arg2: 20

In [130]:
say_hello_again(last='Jordan', first='Michael')

Hello Michael Jordan! How are you doing today?

In [135]:
def another_func(**abc):
    print(abc)
    print(type(abc))
    for key, value in abc.items():
        print(f'Key {key} has a value of {value}')

another_func(key='value', name='Brian', age=43, middle='Jefferey')

{'key': 'value', 'name': 'Brian', 'age': 43, 'middle': 'Jefferey'}
<class 'dict'>
Key key has a value of value
Key name has a value of Brian
Key age has a value of 43
Key middle has a value of Jefferey

In [139]:
def altogether(arg1, *args, default='hello', **kwargs):
    print('arg1:', arg1)
    print('args:', args)
    print('default:', default)
    print('kwargs:', kwargs)
    
    
altogether('A', 'B', 'C', 'D', 'E', 'F', 'g', name='Brian', city='Chicago', default='goodbye')

arg1: A
args: ('B', 'C', 'D', 'E', 'F', 'g')
default: goodbye
kwargs: {'name': 'Brian', 'city': 'Chicago'}

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

In [141]:
cars = [
    ('blue', 'toyota', 'tundra'), 
    ('green', 'chevy', 'silverado'), 
    ('pink', 'ford', 'f-150'), 
    ('red', 'ford', 'mustang'),
    ('yellow', 'toyota', 'prius')
]

for car in cars:
    print(car, type(car))

('blue', 'toyota', 'tundra') <class 'tuple'>
('green', 'chevy', 'silverado') <class 'tuple'>
('pink', 'ford', 'f-150') <class 'tuple'>
('red', 'ford', 'mustang') <class 'tuple'>
('yellow', 'toyota', 'prius') <class 'tuple'>

In [143]:
def format_car(color, make, model):
    print(f"{color.title()} {make.title()} {model.title()}")
    
# format_car('green', 'toyota', 'camry')

In [150]:
for car in cars:
    format_car(car[0], car[1], car[2])

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang
Yellow Toyota Prius

In [153]:
car = ('green', 'toyota', 'camry')

col, mk, md = car

print(md)

camry

In [155]:
for col, mk, md in cars:
    format_car(col, mk, md)

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang
Yellow Toyota Prius

In [159]:
for car in cars:
    format_car(*car)

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang
Yellow Toyota Prius

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [167]:
student = "Little Jimmy" # global
teacher = "Ms. Buttercup" # global

def assign_student(student_name): # student_name is a local variable that is scoped to the function
    print('Student:', student_name)
    print(f"{student_name} has been assigned to {teacher}'s class")
    
    
assign_student(student)
# print(student_name) # NameError: name 'student_name' is not defined

Student: Little Jimmy
Little Jimmy has been assigned to Ms. Buttercup's class

In [171]:
def get_only_evens(list_of_nums):
    evens_only = []
    for num in list_of_nums:
        if num % 2 == 0:
            evens_only.append(num)
    return evens_only

In [172]:
get_only_evens([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

In [173]:
get_only_evens([10, 15, 20, 25, 30, 35, 40])

[10, 20, 30, 40]

In [175]:
my_list = [1, 2, 34, 45]
print(my_list.append)

<built-in method append of list object at 0x000001FE6696D040>

In [177]:
my_list.append('hello')

In [178]:
print(my_list)

[1, 2, 34, 45, 'hello']

##### Returning Values

In [182]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

def f(x):
    return 2*x

y = f(7)
print(y)

14

In [184]:
z = f(10)
print(z, z**2)

20 400

In [186]:
# Return will also immediately terminate the function
def early_return(n):
    for i in range(n):
        return i
        
early_return(10)

0

In [189]:
def another_example(n):
    for i in range(n):
        if i == 5:
            return i
#         print(i)
    print('This is after the for loop')
    
    
another_example(10)

5

In [194]:
names = ['Brian', 'Danielle', 'Frank', 'Tim', 'Hannah', 'Joanna', 'James']

def get_a_person(person_name):
    for name in names:
        if name == person_name:
            return name
    return 'Not A Person'


get_a_person('Mike')

'Not A Person'

#### Multiple returns in a function

In [196]:
def can_vote(birth_year):
    if 2023 - birth_year >= 18:
        return True
    else:
        return False
    
print(can_vote(2000))
print(can_vote(2010))

True
False

In [201]:
def can_vote(birth_year):
    if 2023 - birth_year >= 18:
        return True
    return False
    
print(can_vote(2000))
print(can_vote(2010))

True
False

In [202]:
def can_vote(birth_year):
    return 2023 - birth_year >= 18
    
print(can_vote(2000))
print(can_vote(2010))

True
False

##### Difference between `return` and `print`

In [203]:
def create_headline_print(message):
    print(message.strip().title() + '!')

def create_headline_return(message):
    return message.strip().title() + '!'

In [204]:
def format_blog_post(headline, author, body):
    return f"""
    {headline} by {author}
    {body}
    """

In [207]:
def publish_article():
    headline = input('Enter the headline for your blog post: ')
    body = input('Enter the body: ')
    author = input('What is your name? ')
    clean_headline = create_headline_return(headline)
    print(format_blog_post(clean_headline, author, body))
    
    
publish_article()

Enter the headline for your blog post:       keNTuCKy deRby WEekeNd
Enter the body: Derby is this weekend. I hope my horse wins
What is your name? Brian

    Kentucky Derby Weekend! by Brian
    Derby is this weekend. I hope my horse wins

#### Functions with Lists

In [209]:
print(bands1)
print(bands2)

['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']
[' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

In [208]:
def clean_band_names(messy_bands_list):
    cleaned_bands = [band.strip(' .,').title() for band in messy_bands_list]
    return cleaned_bands

In [210]:
cleaned_bands1 = clean_band_names(bands1)
cleaned_bands2 = clean_band_names(bands2)

In [211]:
print(cleaned_bands1)
print(cleaned_bands2)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']
['The Who', 'The Doors', 'The Band', 'The Kinks']

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [215]:
euro_cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]

nor_so_am_cities = [
    ("Mexico City", "Mexico"),
    ("Buenos Aires", "Argentina"),
    ("Sao Paulo", "Brazil"),
    ("Santiago", "Chile"),
    ("Rio De Janeiro", "Brazil")
]


def cities_in_country(list_of_tuples, country_name):
    output = []
    for city, country in list_of_tuples:
        if country == country_name:
            output.append(city)
    return output


print(cities_in_country(euro_cities, 'Italy')) # ['Rome', 'Florence']
print(cities_in_country(euro_cities, 'Spain')) # ['Barcelona', 'Madrid']
print(cities_in_country(nor_so_am_cities, 'Brazil')) # ['Sao Paulo', 'Rio De Janeiro']

['Rome', 'Florence']
['Barcelona', 'Madrid']
['Sao Paulo', 'Rio De Janeiro']

#### Docstrings

In [216]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [218]:
def add_nums(num1, num2):
    """
    add_nums takes in two number types (int or float) and will return the two added together
    num1 -> int or float
    num2 -> int or float
    returns int or float
    """
    return num1 + num2

help(add_nums)

Help on function add_nums in module __main__:

add_nums(num1, num2)
    add_nums takes in two number types (int or float) and will return the two added together
    num1 -> int or float
    num2 -> int or float
    returns int or float

In [219]:
add_nums(10, 20)

30

In [220]:
add_nums(3.4, 6.2)

9.6

### Whiteboard Approach

Write a function that brings in a word and 
returns that word with all the vowels removed.
Y is NOT considered as a vowel
the starting word will contain upper and lowercase letters

1. What are the input(s)?
2. What are the output(s)?
3. Consider constraints and edge cases
4. Write out steps logically (No Python)
5. Pseduocode
6. Code

In [225]:
# 1. Input(s) - word - type: str
# 2. Output(s) - word with vowels removed - type: str
# 3. Constraints/Edge Cases - 'Y' not a vowel - consider both upper and lower case letters
# 4. Look at each letter of the word, if the letter is a vowel, skip over the letter, if not a vowel, keep it. Once finished
# chekcing every letter, return the word

# 5. Pseudocode
# Define a function that accepts a word parameter
def remove_vowels(word):
    # Create a new string to build the vowel-less word
    new_string = ''
    # Create a data collection of the vowels = 'aeiou'
    vowels = {'a', 'e', 'i', 'o', 'u'}
    # Loop through each letter of the word
    for letter in word:
        # if lower case version of letter is not in the collection of vowels
        if letter.lower() not in vowels:
            # add the letter to the new vowel-less word
            new_string += letter
    # After looping through each letter, return the new vowel-less word
    return new_string

In [227]:
remove_vowels('HELLO WORLD')

'HLL WRLD'